<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.phms.mapper.TbCommentMapper">
    <resultMap id="BaseResultMap" type="com.phms.pojo.TbComment">
        <!--@mbg.generated-->
        <!--@Table tb_comment-->
        <id column="id" property="id"/>
        <result column="username" property="username"/>
        <result column="reply_to" property="replyTo"/>
        <result column="content" property="content"/>
        <result column="parent_id" property="parentId"/>
        <result column="create_time" property="createTime"/>
        <result column="create_user_id" property="createUserId"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, username, reply_to, content, parent_id, create_time,create_user_id
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        <!--@mbg.generated-->
        select
        <include refid="Base_Column_List"/>
        from tb_comment
        where id = #{id}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        <!--@mbg.generated-->
        delete
        from tb_comment
        where id = #{id}
    </delete>
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.phms.pojo.TbComment" useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into tb_comment (username, reply_to, content, parent_id, create_time)
        values (#{username}, #{replyTo}, #{content}, #{parentId}, #{createTime})
    </insert>
    <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.phms.pojo.TbComment"
            useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into tb_comment
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="username != null and username != ''">
                username,
            </if>
            <if test="replyTo != null and replyTo != ''">
                reply_to,
            </if>
            <if test="content != null and content != ''">
                content,
            </if>
            <if test="parentId != null">
                parent_id,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="createUserId != null">
                create_user_id,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="username != null and username != ''">
                #{username},
            </if>
            <if test="replyTo != null and replyTo != ''">
                #{replyTo},
            </if>
            <if test="content != null and content != ''">
                #{content},
            </if>
            <if test="parentId != null">
                #{parentId},
            </if>
            <if test="createTime != null">
                #{createTime},
            </if>
            <if test="createUserId != null">
                #{createUserId},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.phms.pojo.TbComment">
        <!--@mbg.generated-->
        update tb_comment
        <set>
            <if test="username != null and username != ''">
                username = #{username},
            </if>
            <if test="replyTo != null and replyTo != ''">
                reply_to = #{replyTo},
            </if>
            <if test="content != null and content != ''">
                content = #{content},
            </if>
            <if test="parentId != null">
                parent_id = #{parentId},
            </if>
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
        </set>
        where id = #{id}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.phms.pojo.TbComment">
        <!--@mbg.generated-->
        update tb_comment
        set username    = #{username},
            reply_to    = #{replyTo},
            content     = #{content},
            parent_id   = #{parentId},
            create_time = #{createTime}
        where id = #{id}
    </update>

    <!--auto generated by MybatisCodeHelper on 2022-03-15-->
    <select id="selectByAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from tb_comment
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="username != null and username != ''">
                and username = #{username}
            </if>
            <if test="replyTo != null and replyTo != ''">
                and reply_to = #{replyTo}
            </if>
            <if test="content != null and content != ''">
                and content = #{content}
            </if>
            <if test="parentId != null">
                and parent_id = #{parentId}
            </if>
            <if test="createTime != null">
                and create_time = #{createTime}
            </if>
        </where>
    </select>
    <select id="selectParent" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List"/>
        from tb_comment
                WHERE parent_id IS NULL
        <if test="userId != null">
            and create_user_id = #{userId}
        </if>
    </select>
</mapper>